<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="layout :: headerLink">
</head>
<body>
<!--====================  NavBar area Start ====================-->
<div th:replace="layout :: navbar"></div>
<!--====================  NavBar area End ====================-->

<!-- Body Content Start --> 

<!-- Page Banner Start-->
<section class="page-banner padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-uppercase">Get In Touch</h1>
      </div>
    </div>
  </div>
</section>

<!--Contact-->
<section id="contact-us">
  <div class="contact">
    <div id="map"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10   contact-text">
            	<div class="agent-p-contact">
                	<div class="our-agent-box bottom30">
                     
                    </div>
                    <div class="agetn-contact-2 bottom30">
                      	 <p><i class="icon-telephone114"></i> (+91)9865321245</p>
                         <p><i class=" icon-icons142"></i> info@castle.com</p>
                         
                         <p><i class="icon-browser2"></i>www.castle.com</p>
                         <p><i class="icon-icons74"></i> Deccan GymKhana, Pune</p>
                      </div>
                   
                </div>
            
            	<div class="agent-p-form">
                	<div class="our-agent-box bottom30">
                        <h2>Send us a message</h2>
                    </div>
                    
                    <div class="row">
                      <form action="/saveContactMessag" method="post" class="callus">
                        <div class="col-md-8">
                          <div class="single-query form-group">
                            <input type="text" id="name" name="name" placeholder="Your Name" class="keyword-input">
                            </div>
                            <div class="single-query form-group">
                            <input type="text" id="mobile" name="mobile" placeholder="Phone Number" class="keyword-input">
                          </div>
                          <div class="single-query form-group">
                            <input type="text" id="email" name="email" placeholder="Email Adress" class="keyword-input">
                          </div>
                          <div class="single-query form-group">
                            <textarea  id="message" name="message" placeholder="Massege" class="form-control"></textarea>
                          </div>
                          <input type="submit" value="Send" class="btn-blue">
                          </div>
                      </form>
                      
                    </div>
                	
                </div>
                
            </div>
            
        </div>
    </div>
  </div>
</section>
<!-- Contact End -->

<!-- Body ContentEnd --> 

<!-- foote Start -->
	<div th:replace="layout :: footer"></div>
<!-- foote End -->
<!--=============================================
    =            JS files        =
    =============================================-->
	<div th:replace="layout :: footerLink"></div>
	<!--=====  End of JS files ======-->
</body>
</html>