<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/Admin/Layout :: headerLink">

</head>
<body class="text-left">
	<div th:replace="/Admin/Layout :: navbar"></div>
	<div class="main-content-wrap sidenav-open d-flex flex-column">
		<!-- ============ Body content start ============= -->
		<div class="main-content">
			<div class="breadcrumb">
				<h1>User</h1>

			</div>
			<div class="separator-breadcrumb border-top"></div>
			<div class="row">
				<div class="col-md-12">
					<div class="card mb-4">
						<div class="card-body">
							<div class="card-title mb-3">Users</div>
							<form>
								<div class="table-responsive">
									<table class="table text-center" id="product_table">
										<thead>
											<tr>
												<th scope="col">User_Id</th>
												<th scope="col">FirstName</th>
												<th scope="col">LastName</th>
												<th scope="col">Mobile No</th>
												<th scope="col">Status</th>
												<th scope="col">Role</th>
												<th scope="col">Edit</th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="usr:${page.content}">
												<td th:text="${usr.id}">userId</td>
												<td th:text="${usr.firstName}">fName</td>
												<td th:text="${usr.lastName}">lName</td>
												<td th:text="${usr.mobile}">Mobile</td>
												<td th:text="${usr.status}">Status</td>
												<td th:text="${usr.roles}">Role</td>
												<td><a class="text-success mr-2"
													th:href="@{/user/editUser/(Id=${usr.id})}"> <i
														class="nav-icon i-Pen-2 font-weight-bold"></i>
												</a></td>
											</tr>
										</tbody>
									</table>
									<div class="pagination-div">
										<span th:if="${page.hasPrevious()}"> <a
											th:href="@{/Admin/viewAllUser(page=${page.number-1},size=${page.size})}">
												Previous </a>
										</span>
										<th:block
											th:each="i:${#numbers.sequence(0,page.totalPages-1)}">
											<span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
											<span th:unless="${page.number == i}"> <a
												th:href="@{/Admin/viewAllUser(page=${i},size=${page.size})}">[[${i}+1]]
											</a>
											</span>
										</th:block>
										<span th:if="${page.hasNext()}"> <a
											th:href="@{/Admin/viewAllUser(page=${page.number+1},size=${page.size})}">
												Next </a>
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
			<!-- end of main-content -->
		</div>
		<br> <br> <br> <br> <br> <br> <br>
		<!-- Footer Start -->
		<div th:replace="/Admin/Layout :: footer"></div>
		<!-- footer end -->
	</div>
	<div th:replace="/Admin/Layout:: footerLink"></div>
</body>
</html>